<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/Account.css" rel="stylesheet" />
</head>
<body class="align">

    @RenderBody()

</body>
</html>
