
@model SignUpViewModel
@{
    ViewData["title"]="SignUp";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="grid">
    <h3>SignUp Form</h3>
    <div asp-validation-summary="All"></div>
    <form asp-action="SignUp" class="form login">

        <div class="form__field">
            <input class="form__input" asp-for="UserName" placeholder="Username" required>
        </div>
        <div class="form__field">
            <input class="form__input" asp-for="Email" placeholder="Email" required>
        </div>
        <div class="form__field">
            <input class="form__input" asp-for="Password" placeholder="Password" required>
        </div>
        <div class="form__field">
            <input class="form__input" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required>
        </div>
        <div class="wthree-text">
            <label class="anim">
                <input type="checkbox" class="checkbox" />
                <span>I Agree To The Terms & Conditions</span>
            </label>
            <div class="clear"></div>
        </div>

        <div class="form__field">
            <input type="submit" value="SIGNUP">
        </div>

    </form>
    <p class="text--center">
        Already a member? <a asp-action="SignIn">Login Now!</a>
    </p>
</div>